@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1400px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hero {
  display: grid;
  grid-template-rows: 100px 1fr;
  width: 100%;
  height: 100vh;
  background: #3494e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ec6ead,
    #3494e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fd63b0bd, #3493e6b9),
    url(./img/pexels-energepiccom-110471.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
}

.nav__logo {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__list,
.nav__link {
  display: flex;
  list-style-type: none;
  gap: 6rem;
}

.nav__links {
  font-size: 1.115rem;
  color: #ffff;
  text-decoration: none;
}

.nav__links::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffff;
  display: block;
  margin: auto;
}

.nav__links:hover::after {
  width: 100%;
}

.nav__menu{
  display: none;
}

.landing {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-self: center;
}

.text__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  color: #fff;
  text-transform: capitalize;
}

.text__title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 1.25;
}

.text__copy {
  font-size: 1.2rem;
  line-height: 1.45;
  margin-bottom: 3.5rem;
}

.pinguina {
  color: #ec6ead;
  font-weight: 500;
}

.text__cta {
  width: 180px;
  text-align: center;
  background-color: #fff;
  padding: 12px 46px;
  border-radius: 3rem;
  color: #ec6ead;
  text-decoration: none;
  font-weight: 500;
}

.text__cta:hover {
  text-decoration: underline;
}

.picture__img {
  cursor: pointer;
  width: 300px;
}

/* About */

.about {
  width: 80%;
  margin: 0 auto;
  padding: 140px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__text {
  width: 50%;
}

.about__img {
  width: 300px;
}

.about__title {
  color: #3494e6;
}

.about__title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about__copy {
  margin-top: 1rem;
  text-transform: capitalize;
}

.about__menu {
  width: 24px;
}

.test {
  display: flex;
  gap: 1rem;
}

article {
  margin-bottom: 1.5rem;
}

/* Features */

.features {
  width: 100%;
  padding: 120px 0;
  background: linear-gradient(to left, #ec6eadd3, #3493e6cc),
    url(./img/background.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.features__container {
  color: white;
  text-align: center;
  width: 60%;
}

.features__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.features__copy {
  font-size: 1.05rem;
  padding: 0 20px;
  line-height: 2;
}

/* Catalog */

.catalog {
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 0.75rem;
  margin-bottom: 3rem;
}

.item__picture:hover {
  cursor: pointer;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
}

.item__cta {
  width: 100%;
  color: black;
  text-decoration: none;
  text-align: center;
  outline: 1px solid rgba(0, 0, 0, 0.308);
  padding: 12px 0;
  border-radius: 4rem;
  margin-top: 1.25rem;
}

.item__cta:hover {
  background-color: #3494e6;
  color: white;
  outline: none;
  transition: 0.35s;
}

/* footer */

.footer {
  background: linear-gradient(to left, #ec6eadd3, #3493e6cc), url(./img/sas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0 20px 0;
}

.foot {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.footer_link,
.footer__list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.footer__text {
  width: 65%;
  color: #fff;
  margin-bottom: 2rem;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.35rem;
  font-weight: 600;
}

.footer__links {
  color: #fff;
  font-size: 1.15rem;
  text-decoration: none;
  font-weight: 400;
}

.footer__links:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  color: #fff;
}

span{
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .footer__text {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav__links {
    display: none;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .nav{
    width: 100%;
    justify-content: space-between;
  }

  .hero {
    background: -webkit-linear-gradient(
      to left,
      #ec6ead,
      #3494e6
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fd63b0af, #3493e68e),
      url(./img/pexels-karolina-grabowska-4379234.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: left;
    }

    .bars__menu{
      width: 30px;
      height: 30px;
      cursor: pointer;
  }
  
  .line{
      display: block;
      width: 100%;
      height: 2px;
      background-color: #fafafa;
      margin-top: 6px;
      transform-origin:0px 100%;
      transition: all 300ms;
  }
  
  .activeline1{
      transform: rotate(46deg) translate(-2px, 1px);
  }
  
  .activeline2{
      opacity: 0;
      margin-left: -30px;
  }
  
  .activeline3{
      transform: rotate(-46deg) translate(-4px, 2px);
  }

  .landing {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .text__container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
  }

  .text__title {
    font-size: 2.25rem;
  }

  .text__copy {
    font-size: 1.2rem;
  }

  .text__cta {
    margin: 0 auto;
    padding: 8px 46px;
  }

  .picture__img {
    display: none;
  }

  .about {
    flex-direction: column;
    width: 100%;
  }

  .about__img {
    width: 200px;
    margin-bottom: 2rem;
  }

  .about__text {
    width:90%;
    text-align: center;
    padding: 0 0.5rem;
  }

  .about__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
 
  .about__title--color{
    color: #ec6ead;
  }

  

  .features__copy {
    width: 90%;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 2;
    padding: 0;
  }

  .catalog {
    padding: 4rem 0 0 0;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .item__container {
    margin-bottom: 4rem;
  }

  .foot{
    display: inline-block;
  }

.footer__logo{
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

  .footer__list {
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  .footer__links {
    display: inline-block;
    margin-bottom: 1rem;
  }

  .footer__text {
    display: none;
  }

  .copyright {
    margin-top: 1.25rem;
  }

@media screen and (max-width:400px) {
  *{
    overflow: hidden;
  }

  .nav{
    width: 96%;
    overflow: hidden;

  }


}
  
}
